<li>
	<input class="whole-burgers-input" value="{{id}}. {{burger_name}}"></input>

	{{#if devoured}}
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		Devour It!
	</button>
	{{/if}}
</li>